.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.primary-nav {
  background-color: grey;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

.navbar-link {
  margin: 0 .5rem;
  text-decoration: none;
  background-color: grey;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: inline-block;
  padding: 1rem;
}

.navbar-link:hover {
  cursor: pointer;
  color: grey;
  background-color: black;
}

.primary-content {
  flex: 1;
  padding: 1rem;
  background-color: black;
  color: white;
}

.primary-footer {
  background-color: grey;
  padding: .5rem;
  border-top: 1px solid black;
}

.flex-column-form {
  display: flex;
  flex-direction: column;
}

.flex-column-form > label {
  text-align: left;
}

.flex-column-form > input {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  padding: .2rem;
}

.flex-column-form {
  font-size: 1.2rem;
}

.flex-column-form > button {
  padding: .5rem;
  font-size: 1.2rem;
}

.section-container {
  padding: 1rem;
  border: 1px solid white;
  margin: 1rem 0;
  border-radius: 10px;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.name-link {
  text-decoration: none;
  color: white;
  margin-left: .5rem;
}

.name-link:hover {
  font-style: italic;
}

.soldier-role-name-container {
  display: flex;
  font-size: 1.2rem;
}

.soldier-details-container {
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.soldier-details-container-title {
  border-bottom: 1px solid white;
  padding: .8rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: grey;
  border-radius: 15px 15px 0 0;
}

.soldier-details-info-container {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: left;
}

.error-text-container {
  color: red;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.nav-link-text {
  display: none;
}




@media only screen and (min-width: 600px) {
  .nav-link-text {
    display: block;
  }

  .fa-solid {
    display: none;
  }
}