.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.primary-nav {
  background-color: grey;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

.navbar-link {
  margin: 0 .5rem;
  text-decoration: none;
  background-color: grey;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: inline-block;
  padding: 1rem;
}

.navbar-link:hover {
  cursor: pointer;
  color: grey;
  background-color: black;
}

.primary-content {
  flex: 1;
  padding: 1rem;
}

.primary-footer {
  background-color: grey;
  padding: .5rem;
  border-top: 1px solid black;
}

.flex-column-form {
  display: flex;
  flex-direction: column;
}

.flex-column-form > label {
  text-align: left;
}

.flex-column-form > input {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  padding: .2rem;
}

.flex-column-form {
  font-size: 1.2rem;
}

.flex-column-form > button {
  padding: .5rem;
  font-size: 1.2rem;
}


